<%= form_for @cars do |f| %>
<%= f.error_messages %>
<p>
<%= f.label :license_plate %>
<%= f.text_field :license_plate %>
</p>

<p>
<%= f.label :state %>
<%= f.text_field :state %>
</p>

<p>
<%= f.label :zip %>
<%= f.text_field :zip %>
</p>

<p>
<%= f.label :phone1 %>
<%= f.text_field :phone1 %>
</p>

<p>
<%= f.label :phone2 %>
<%= f.text_field :phone2 %>
</p>

<p>
<%= f.label :nickname %>
<%= f.text_field :nickname %>
</p>

<p>
<%= f.label :email %>
<%= f.text_field :email %>
</p>
