<%= simple_form_for @car, url: {action: "create"} do |f| %>
<%= f.input :license_plate, label: "License Plate" %>
<%= f.input :state %>
<%= f.input :zip %>

<%= f.simple_fields_for :contacts do |i| %>
  <%= i.input :type, as: :hidden, value: "Phone" %>
  <%= i.input :value, as: :tel, label: "Phone Number" %>
<% end %>
<%= f.input :nickname %>

<%= f.check_box :terms %> I agree to these Terms & Conditions
<p>
  <%= f.button :submit, class:"btn btn-primary btn-large", value: "Register" %>
</p>
<% end %>
