<%= simple_form_for @car, url: {action: "create"} do |f| %>
<%= f.input :license_plate, label: "Your Vehicle's License #" %>
<%= f.input :state %>
<%= f.input :zip %>

<%= f.input :nickname, label: "Vehicle Nickname" => { :value => 'Jeep' } %>

<%= f.association :contacts do |contact_form| %>
  <%= contact_form.input :kind, as: :hidden, :input_html => { :value => "phone" } %> 
  <%= contact_form.input :value, type: "tel", label: "Phone Number", required: true %>
<% end %>


<%= f.check_box :terms %> I agree to these Terms & Conditions
<p>
  <%= f.button :submit, class:"btn btn-primary btn-large", required: true, value: "Register" %>
</p>
<% end %>
