<h1>You're registered!</h1>
<h2>Thank you</h2>


<ul>
  <li>License plate #: <%= @car.license_plate %></li>
  <li>State: <%= @car.state %></li>
  <li>Zip: <%= @car.zip %></li>
  <% if @car.nickname? %>
    <li>Nickname: <%= @car.nickname %></li>
  <% end %>
<ul>

<%= link_to "Home", root_url %>
