<!DOCTYPE html>
<html>
<head>
  <title>SameriText</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
       <a class="brand" href="../">SameriText</a>
       <ul class="nav">
         <li><a href="#what">What is this?</a></li>
         <li><a href="#why">Why do this?</a></li>
         <li><a href="/faq">FAQ</a></li>
         <li><a href="#contact">Contact Us</a></li>
       </ul>
     </div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

<%= yield %>
  </div>
  <div class="Brand" align="left">
    <br><br>FOOTER LOGO HERE: then, Copyright 2013 SamariText.. Design by Peace and the Poet
  </div>
</body>
</html>
